.carousel {
  position: relative;
  height: 30rem;
}

.slide-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 70%;
  transform: translate(-50%, -50%);
}

.slide-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  button {
    font-size: 4rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @lambda-red;
  font-size: 5rem;
}

.slide-selected {
  opacity: 1;
}

.slide-hidden {
  display: none;
}